#nav{
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px solid rgb(207, 201, 201);
}
#container{
    display: grid;
    grid-template-columns: 20% 80%;
}
#right{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    gap:2%
}
#right>img{
    width:100%;
    border-radius: 10px;
}